body,
html {
    height: 100%;
    margin: 0;
}

#left_panel {
    background-color: greenyellow;
}

#right_panel {
    background-color: cyan;
}

#top_panel {
    background-color: yellow;
}

#bottom_panel {
    background-color: orange;
}

.drag {
    border-width: 6px;
    border-color: red;
}

#drag_vertical {
    border-style: none solid none none;
}

#drag_horizontal {
    border-style: solid none none none;
}