body,
html {
    height: 100%;
    margin: 0;
}

.panel {
    overflow-y: scroll;
}

.panel p,
h1 {
    margin: 1em;
}

div#left.panel {
    background-color: greenyellow;
}

div#right.panel {
    background-color: cyan;
}

div#top.panel {
    background-color: yellow;
}

div#bottom.panel {
    background-color: orange;
}

.drag {
    border-width: 6px;
    border-color: red;
}

div#vertical.drag {
    border-style: none solid none none;
}

div#horizontal.drag {
    border-style: solid none none none;
}