body,
html {
    height: 100%;
    margin: 0;
}

#left_panel {
    background-color: greenyellow;
}

#right_panel {
    background-color: cyan;
}

#drag_vertical {
    border-style: none solid none none;
    border-width: 6px;
    border-color: red;
}